*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'bold-font';
    src: url(../../fonts/TrumpGothicEast_bold.ttf);
}
@font-face {
    font-family: 'paragraph-font';
    src: url(../../fonts/JosefinSans-Regular.ttf);
}
.h1{
    font-size: 6em;
    font-family: 'bold-font';
    line-height: 100px;
    text-transform: uppercase;
}
.h2 {
     font-size: 48px;
    font-family: 'bold-font';
    line-height: 60px;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 2px;
}
.h4 {
    padding-left: 0;
    font-size: 32px;
    color: #fff;
   font-family: 'bold-font';
   letter-spacing: 0.7px;
}

.p {
    padding-left: 0;
    font-size: 22px;
    color: #fff;
    font-family: 'paragraph-font';
}
.main-title {
    margin-top: 230px;
    color: #fff;
    text-shadow: 0 0 2px #000;
}
.nav-bar {
    background: transparent;
    height: 75px;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
}

.navbar__opener {
    display: inline-block;
    width: 64px;
    height: 48px;
    position: relative;
    transform: rotate(0deg);
    cursor: pointer;
    position: absolute;
    top: 43px;
    right: 43px;
    z-index: 100;
}
.navbar__opener span {
    display: block;
    position: absolute;
    height: 3px;
    width: 32px;
    opacity: 1;
    left: 16px;
    transform: rotate(0deg);
    transition: .25s ease-in-out,background-color .3s ease-out;
    background: #fff;
}
.navbar__opener:hover span {
    background: #ef0d33!important;
}
.navbar--opened .navbar__opener span:first-child, .navbar--opened .navbar__opener span:nth-child(4) {
    top: 21px;
    width: 0;
    left: 50%;
}
.navbar--opened .navbar__opener span:nth-child(2) {
    transform: rotate(45deg);
}
.navbar--opened .navbar__opener span:nth-child(3) {
    transform: rotate(-45deg);
}
.navbar__brand, .navbar__opener, .navbar__title {
    transition: top .5s ease,opacity .5s ease;
}
.navbar__opener span:first-child {
    top: 13px;
}
.navbar__opener span:nth-child(2), .navbar__opener span:nth-child(3) {
    top: 21px;
}
.navbar__opener span:nth-child(4) {
    top: 29px;
}
.navbar--opened .menu-container {
    visibility: visible;
}
.loading-section {
   /* background: #000;
    height: 800px;
    width: 100%;
    background-size: cover;
    background-position: center; */
    overflow: hidden; 
}
.carousel-img {
    height: 800px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.bring-top {
    position: absolute;
    z-index: 4;
}


.loading-section .button {
    width: auto;
    background-color: #ca0000;
    margin-top: 10px;
    cursor: pointer;
    margin-right: 10px;
}
.button a {
    text-decoration: none;
    color: #fff;
}

.loading-section .button:hover{ 
    background-color: #fff;
    color:  #ca0000;
}
.loading-section .button:hover a{  
    color: #ca0000;
}
.loading-section .p,.mission .h2 {
    color: #fff;
}
.hidden-overflow {
    overflow: hidden;
}
.logo-img img {
    height: 155px;
}
.menu-container {
    position: absolute;
    height: calc(100vh);
    background-color: #000;
    opacity: 0;
    top: 0;
    padding-top: 134px;
    z-index: 0;
    visibility: hidden;
}
.site-container .navbar--opened .menu-container {
    opacity: 1 !important;
}

li.menu-item {
    list-style-type: none;
    display: block;
    padding: 3px 10px;
}
.menu-link {
    font-family: 'bold-font';
    font-weight: normal;
    font-size: 43px;
    color: #fff;
}
.menu-link:hover,
.menu-link:focus,
.menu-link:active {
    color: #ef0d33;
    transition: color .3s linear;
    text-decoration: none;
}
.content-sep {
    width: 50px;
    height: 7px;
    background-color: #ca0000;
    margin: 30px auto;
    text-align: left;
}
.carousel-control-prev{
    left: 0 !important;
}
.carousel-control-next {
    right: 0 !important;
}
.loading-section .carousel-caption {
    top: 0;
}
.what-we-do {
    background: #ff943b;
    color: #fff;
    text-align: center; 
}

.container-padding {
    padding: 72px 0;
}
.what-we-do .h2 {
    margin-bottom: 65px;
}

.what-we-do .p {
    text-align: left;
}
.contact-us-container {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'bold-font';
}

.round-img-container {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid #fff;
    background: url(../../images/image_3.jpg);
    background-size: cover;
    background-position: center;
    margin-left: auto;
}
.padding-top-50 {
    padding-top: 50px;
}
.form-input {
    width: 100%;
    border: 2px solid rgb(28, 157, 230);
    border-radius: 0;
    color: #000;
    margin-bottom: 20px;
    padding: 10px;
}
.button {
    border: none;
    color: #fff;
    background-color: #ca0000;
    width: 100%;
    text-transform: uppercase;
    font-family: 'bold-font';
    text-align: center;
    cursor: pointer;
    border-radius: 0;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.map-container {
    padding: 0;
}
.map-container iframe {
    width: 100%;
}
.land-details {
    width: 100%;
    background: #ddd;
    color: #000;
    font-family: 'bold-font';
    font-size: 20px;
    letter-spacing: 1.2px;
}
.marketing {
    background-color: #f1f1f1;
}
.marketing .extra-content {
   display: none;
}
.card {
    margin: 0 auto;
    margin-bottom: 30px;
}
.card-img-top {
    height: 20rem;
    background: url(../../images/aerospace.png);
    background-size: cover;
    background-position: center;
    width: 100%;
}
.card-title {
    font-family: 'bold-font';
}
.card-text {
    font-family: 'paragraph-font';
}
.show-more-btn {
    background: #7b7b7b;
    width: 46%;
}
.land-details .span {
    width: 100%;
    display: block;
    padding: 5px;
}

.padding-20 {
    padding: 20px;
}

.padding-30 {
    padding: 30px;
}
.margin-5 {
    margin: 5px;
}
.text-center {
    text-align: center;
}
.about-us {
    background-color: #f5f5f5
}

.about-us .p {
    color: darkslategrey;
    text-align: center;
}

.about-us .highlited {
    background: #ddd;
    color: #000;
    padding: 25px;
}

.mission {
    background-color: #0c9;
    text-align: center;
}

.sub-section:not(:last-child):after {
    content: "";
    width: 2px;
    height: 130%;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
}
.content-heading {
    color: #fff;
    font-family: 'bold-font';
    font-size: 22px;
    text-align: center;
    display: block;
    padding: 10px 0px 0px 0;
    letter-spacing: 2px;
}
.desc {
    font-family: 'paragraph-font';
    display: block;
    font-weight: bolder;
    text-align: center;
    color: azure;
}
.mission-desc {
    margin-top: 75px;
    text-align: left;
}
 .mission-desc .desc {
   padding: 25px;
}

.round-container {
    max-width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #fff;
    margin: 0 auto;
    margin-top: 45px;
    position: relative;
}
.desc.list li{
    list-style-type: none;
}
.mission-img {
    height: 36px;
    position: absolute;
    left: 50%;
    margin-left: -18px;
    top: 5px;
}
.round-container .desc {
    color: #777;
}

.round-container .content-heading {
    color: #000;
    padding-top: 40px;
}
.about-us .question-head {
    font-family: 'bold-font';
    letter-spacing: 1px;
    text-align: left;
    font-size: 28px;
    padding: 20px 0;
}

.home-page-owl .owl-item {
    padding: 20px;
}

.home-page-owl .img {
    border: 7px solid #fff;
    box-shadow: 0 0 3px #ccc;
}
.footer-container {
    background-color: #000; 
    text-align: center;
     text-transform: uppercase;
}

.footer-container .menu-item{
    display: inline-block;
}
.footer-container .land-details {
    background: transparent;
    text-align: center;
     font-size: 18px;
     padding-bottom: 20px;
     color: #777;
     padding-bottom: 50px;
}
.footer-container .menu-item .menu-link {
    font-size: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}
.footer-copyright {
    border-top: 2px solid #666;
    padding: 20px 0;
    color: #fff;
    text-transform: none;
    color: #777;
    font-family: 'paragraph-font'
}
.carousel-control-next {
    right: -10%;
}

.carousel-control-prev {
    left: -10%;
}
.products .sub-section {
    background-image: url(../../images/rubber_moulded.jpg);
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.products .sub-section .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.45;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
}
.products .sub-section .button {
    padding: 10px;
    font-size: 16px;
    width: 105px;
    border: 2px solid;
}
.products .sub-section:hover .overlay{
    background-color: #ca0000;
}
.products .sub-section:after {
    display: none;
}
.products .sub-section .text-content {
    color: #fff;
    z-index: 2;
}
.products .sub-section .sub-text-content {
    display: none;
    /*transition: all 0.3s ease;*/
}
.sub-text-content .p {
    opacity: 1 !important;
    visibility: visible !important;
    transform: translateY(0) !important;
}
.products .sub-section:hover .sub-text-content {
    display: block;
}

@media (max-width: 767px) {
    .sub-section:not(:last-child):after {
        width: 20%;
        height: 8px;
        background-color: #fff;
        top: inherit;
        left: 50%;
        bottom: -20px;
        transform: translate(-50%,-50%);
    }
    .sub-section {
        margin-bottom: 20px;
    }
    .round-img-container {
        margin: 0 auto;
        width: 260px;
        height: 260px;
    }
    .h1 {
        font-size: 3em;
        line-height: 50px;
    }
    .p {
        font-size: 18px;
        text-align: center;
    }
    .navbar__opener {
        top: 25px;
        right: 25px;
    }
    .logo-img img {
        height: 100px;
    }
}
